server:
  port: 8383
  

endpoints:
  restart:
    enabled: true
  shutdown:
    enabled: true
  health:
    sensitive: false


eureka:
  server:
    peer-node-connection-idle-timeout-seconds:99999999 
  client:
    serviceUrl:
      defaultZone: ${vcap.services.eureka-service.credentials.uri:http://pesquisa.finchsolucoes.com.br:8763}/eureka/
  instance: 
    preferIpAddress: true
      
ribbon:
  
  eureka:
    enabled: true
    
spring:
  application:
    name: ocr
